@import '../../styles/base';

.btn {
    @include flex-row-center
    margin: 0 4px;
    border: none;
    border-radius: 50px;
    background-color: blue;
    cursor: pointer;
    padding: 4px;

    & .btn-icon {
        display: inline-flex;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
    }

    &:hover {
        width: auto;
    }

}